blinker==1.8.2
cachelib==0.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
deprecated==1.2.14
flask==3.0.3
flask-caching==2.3.0
flask-limiter==3.8.0
idna==3.7
importlib-resources==6.4.0
itsdangerous==2.2.0
jinja2==3.1.4
limits==3.13.0
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
packaging==24.1
psycopg2==2.9.9
pygments==2.18.0
python-dotenv==1.0.1
requests==2.32.3
rich==13.7.1
typing-extensions==4.12.2
urllib3==2.2.2
werkzeug==3.0.3
wrapt==1.16.0
